.search-page {
  margin-top: 40px;
  min-height: 60vh;
}
.search-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #333;
}
.search-title span {
  color: #005a32;
  font-weight: 800;
}

.no-results {
  text-align: center;
  padding: 50px;
  color: #888;
}

.no-results i {
  font-size: 4rem;
  display: block;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
