.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.admin-table th, .admin-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.admin-table th { background-color: #004d2c; color: white; }

.btn-add {
  background-color: #72cca7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}