<div class="product-card">
    <div class="image-container">
        <img [src]="'http://localhost:8000/storage/' + product().main_photo" [alt]="product().name">
    </div>
    <div class="card-content">
        <h3 class="product-title">{{ product().name }}</h3>
        <div class="price-container">
            @if (product().promotional_price) {
                <span class="old-price">R$ {{ product().price }}</span>
                <span class="current-price">R$ {{ product().promotional_price }}</span>
            } @else {
                <span class="current-price">R$ {{ product().price }}</span>
            }
        </div>
        
        <button class="btn-more" [routerLink]="['/produto', product().slug]">
            Ver mais
            <span class="arrow">-></span>
        </button>
    </div>
</div> 
