.product-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.2s;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-title {
  color: #2c514c; 
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.price-container {
  display: flex;
  align-items: baseline; 
  gap: 15px;
  margin: 20px 0;
}

/* Preço original */
.old-price {
  font-size: 0.8rem;
  color: #888;
  text-decoration: line-through;
  font-weight: 400;
}

/* Preço promocional */
.current-price {
  font-size: 1.5rem;
  color: #005a32; 
  font-weight: 800;
}

.btn-more {
  background-color: #03bb85;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.btn-more:hover {
  background-color: #038654;
}