.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-banner {
  position: relative;
  overflow: hidden;
  margin: 40px;
}

.main-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}