
.main-banner {
  position: relative;
  overflow: hidden;
  margin: 40px 10px;
}

.main-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.categories-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  gap: 15px
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: transform 0.2s;
}

.category-item:hover {

  transform: scale(1.05);
}

.category-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-item h4 {
  font-size: 14px;
  font-weight: 600;
  color: #005a32;
  text-align: center;
}

.product-grid {
  display: grid;
  /* Cria 4 colunas de tamanhos iguais */
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}

.pagination-container button {
  background-color: #005a32;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container span {
  font-weight: 600;
  color: #333;
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr; 
  }
}